<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.com.mybatis.mapper.UserMapper">
	<insert id="save" parameterType="cn.com.mybatis.bean.User">
		INSERT INTO user(username,birthday,sex,address) values(#{username},#{birthday},#{sex},#{address})
	</insert>
	
	<resultMap type="cn.com.mybatis.bean.User" id="UserResultMap">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="birthday" property="birthday"/>
		<result column="sex" property="sex"/>
		<result column="address" property="address"/>
	</resultMap>
	
	<select id="findAllUser" resultMap="UserResultMap">
		select * from user
	</select>
	
</mapper>







